@include desktop {
  header {
    box-shadow: -4px 25px 62px -27px rgba(0, 0, 0, 0.1);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        margin-right: 2em;
      }
    }
  }
  .hamburger {
    display: none;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

    &__item {
      padding: 0 2em;
    }
  }
}
